*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: grid;
    place-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 133px 30px;
    gap: 30px;
    inline-size: 1140px;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.content__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    inline-size: 100%;
    block-size: 100%;
}

.result {
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.result__video-container {
    inline-size: 711px;
    block-size: 386px;
    margin-block-end: 16px;
    position: relative;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.search-form__fieldset {
    border: none;
}

.search-form__fieldset-title {
    margin-block-end: 5px;
    font-weight: 400;
    font-size: 18px;
}

.search-form__label {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
}

.search-form__textfield {
    min-inline-size: 225px;
    min-block-size: 27px;
    border: none;
    border-block-start: 1px solid #fff;
    border-block-end: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    appearance: none;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    display: flex;
    justify-content: center;
    align-content: center;
    inline-size: 19px;
    block-size: 19px;
    border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: '';
    min-inline-size: 15px;
    min-block-size: 15px;
    background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.button {
    border: 1px solid currentColor;
    color: #fff;
    font-family: inherit;
    font-style: inherit;
    font-weight: 700;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 8px;
    line-height: inherit;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    text-decoration: none;
    background-color: #545050;
    outline: none;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__submit-button {
    align-self: flex-end;
    min-inline-size: 194px;
    min-block-size: 34px;
}

.title {
    font-family: Oswald, sans-serif;
    font-size: 75px;
    line-height: 0.94;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__list {
    position: relative;
    block-size: 298px;
    overflow: auto;
}

.content__list-item:not(:last-of-type) {
    margin-block-end: 30px;
}

.content__card-link {
    display: block;
    margin: 2px;
    color: inherit;
    text-transform: none;
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
}

.content__card-link:active {
    background-color: #545050;
}

.content__video-card {
    display: flex;
    align-content: flex-start;
}

.content__video-card-description-container {
    flex-grow: 1;
}

.content__video-card-thumbnail {
    min-inline-size: 194px;
    block-size: 103px;
    object-fit: cover;
    object-position: center;
}

.content__video-card-title {
    margin-block-end: 6px;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
}

.content__video-card-description {
    line-height: 0.9;
}

.more-button {
    inline-size: 100%;
    min-block-size: 34px;
}
